body {
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#root, main {
  height: 100%;
  width: 100%;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Karla", sans-serif;
  font-size: 32px;
  color: #293264;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #293264;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-btn {
  margin-top: 1rem;
}

.start-btn, .check-btn {
  background-color: #4D5B9E;
  border: none;
  height: 50px;
  width: 200px;
  font-family: "Inter", sans-serif;
  color: #F5F7FB;
  font-size: 16px;
  border-radius: 15px;
}

.sub-title {
  margin-top: 1rem;
}

.blob-a {
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
}

.blob-b {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15vw;
}

.questions {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  border-bottom: 2px solid #DBDEF0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 65vw;
}

.question-title {
  font-size: 16px;
  margin-bottom: 1rem;
}

.question-btn {
  border: 1px solid #4D5B9E;
  border-radius: 5px;
  height: 20px;
  width: fit-content;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

.answers {
  display: flex;
  justify-content:  space-evenly;
}